@import "tailwindcss";

@font-face {
  font-family: 'Ethereal';
  src: url('./assets/fonts/Ethereal-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

#root {
  font-family: 'Ethereal', sans-serif;
  margin: 0;
  padding: 0;
}