@import "tailwindcss";

@font-face {
  font-family: 'Ethereal';
  src: url('./assets/fonts/Ethereal-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

#root {
  font-family: 'Ethereal', sans-serif;
  margin: 0;
  padding: 0;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}